{% load static %}
<nav>
  <div class="logo">Reminder</div>
  <input type="checkbox" id="checkbox">
  <label for="checkbox" id="icon">
    <img src="{% static 'images/menu-active.png' %}" id="toggleMenuImage" style="width: 25px;" alt="">    
  </label>
  <ul>
      <li><a href="register" class="{% if request.path == '/register' %}active {% endif %}">Home</a></li>
      <li><a href="view" class="{% if request.path == '/view' %}active {% endif %}">Record</a></li>
      <li><a href="alert" class="{% if request.path == '/alert' %}active {% endif %}">Alert <sup>7</sup></a></li>
      <li><a href="logout">LogOut</a></li>
  </ul>
</nav>
<script>
  ImageSrc = document.getElementById('toggleMenuImage');
  checkBox = document.getElementById('checkbox')
  checkBox.addEventListener('click', () => {
    if (checkBox.checked) {
      ImageSrc.src = './static/images/menu-close.png';
    } else {
      ImageSrc.src = './static/images/menu-active.png';
    }
  })
</script>